*{
    margin:0;
    padding:0;
    background-color: rgb(0, 0, 0);
}
html{
    overflow: hidden;
}
#navbar{
    position: relative;
    display: flex;
    width: 92%;
    height: 40px;
    margin-left:4%;
    margin-right:4%;
    align-items: center;
    justify-content: center;
    z-index: 506;
    opacity: 0;
    /* fa8502 */
    background-color: transparent;
    animation-name: anime005;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#navbar a{
    margin: 0px 10px;
    padding: 0px 10px;
    background-color: transparent;
    color: #dbbfff; 
    font-family: 'Cookie';
    font-size: 30px;
    text-decoration: none;
    transition: all 0.5s;
}
#navbar a:hover{
    color:#ecddff;
    font-size: 40px;
    text-shadow: 0 0 20px #ecddff;
}
#navbar span{
    height: 14px;
    border-left: 1px solid #ffbffb;
}
#main{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 600px;
    justify-content: center;
    box-sizing: border-box;
    z-index: 505;
    opacity: 1;
    background-image: url(../img/mainBg.JPG);
    background-size: cover;
    background-position: center;
    animation-name: anime006;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
#home-container{
    display: flex;
    position: absolute;
    flex-direction: row;
    top: 70px;
    width: 100%;
    height: 250px;
    max-width: 1980px;
    justify-content:flex-start;
    z-index: 507;
    opacity: 0;
    background-color: transparent;
    animation-name: anime011;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
#home-container span{
    background-color: transparent;
    color: #dbbfff;
    font-family: 'Acme', sans-serif;
    font-size: 60px;
    text-shadow: 0px 0px 50px #dbbfff;
    transition: all 0.5s;
}
#home-container-text{
    position: absolute;
    margin-top: 100px;
    margin-left: 6%;
}
#home-container-text-inner{
    margin-top: 100px;
    margin-left: 6%;
}
#home-container span:hover #home-container-text-inner{
    color: #ecddff;
    text-shadow: 0px 0px 30px #ecddff;
}
#home-container-text-more{
    position: absolute;
    margin-left: 6%;
    margin-bottom: 25px;
    align-self:flex-end;
    justify-self: left;
    background-color: transparent;
    color: #dbbfff;
    font-family: 'Dancing Script', cursive;
    font-size: 33px;
    text-shadow: none;
}
#home-container-text-more{
    font-family: 'Dancing Script', cursive;
    font-size: 33px;
    text-shadow: none;
}
#home-container-text-more-Btn{
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 300px;
    padding: 40px 6%;
    justify-content: center;
    box-sizing: border-box;
    z-index: 506;
    opacity: 0;
    background-color: transparent;
    animation-name: anime015;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
#knowMoreBtn{
    cursor: pointer;
    width: 125px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid #5e275e;
    background-color: #ffaffa;
    color: #5e275e;
    font-size: 18px;
    transition: all 0.5s;
}
#knowMoreBtn:hover{
    box-shadow:0px 0px 20px 0px#dbbfff;
    background-color: #5e275e;
    color:#ffaffa;
}

@keyframes anime000{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
@keyframes anime002{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes anime004-1{
    0%{z-index: 499;}
    99%{z-index: 499;opacity: 0;}
    100%{z-index: 504;background-color: #1b103b;opacity: 1;}
}
@keyframes anime005{
    0%{opacity: 0; margin-top: 0%;}
    100%{opacity: 1;margin-top: 25px;}
}

@keyframes anime006{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes anime011{
    0%{opacity: 0; margin-left: -6%;}
    100%{opacity: 1; margin-left: 0%;}
}
@keyframes anime015{
    0%{opacity: 0; margin-bottom: -6%;}
    100%{opacity: 1; margin-left: 0%;}
}